VITE_BACKEND_URL=https://hms-backend-2zgq.onrender.com
VITE_RAZORPAY_KEY_ID=rzp_test_SiQIZG6UqV2Sih

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_yab9nb6
VITE_EMAILJS_TEMPLATE_ID=template_og87xpu
VITE_EMAILJS_PUBLIC_KEY=90fGFcmrO92yWd0yZ
